<li id="comment-<%=comment._id %>">
  <p>
    <% if(locals.user && (locals.user.id == post.user.id || locals.user.id ==
    comment.user.id)) { %>

    <small>
      <a class="delete-comment-btn" href="/comments/destroy/<%=comment.id%>"
        >X</a
      >
    </small>

    <%}%> <%= comment.content %>
    <br />
    <small> <%= comment.user.name %> </small>
  </p>

  <% if (locals.user) {%>
  <a
    class="toggle-like-btn"
    data-likes="<%= comment.likes.length %>"
    href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
  >
    <%=comment.likes.length%> Likes</a
  >
  <%} else {%> <%=comment.likes.length%> Likes <%}%>
</li>
